<header class="d-flex flex-column align-items-center justify-content-center">
<h1>
  <span id="banner-typed-text">
  Mahalo Cocktails
  </span>
</h1>
<button type="button" class="btn btn-warning my-4 py-1 px-4 rounded-pill"><%= link_to "Design your own cocktail", new_cocktail_path %></button>
</header>

  <div class="card-container d-flex flex-wrap justify-content-around">

    <% @cocktails.each do |cocktail| %>
    <div class="card mt-5 col-12 col-xl-3 col-lg-3 col-md-6" style="width: 20rem;">
      <div class="image-container">
              <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
      <div class="icon">
      <%= link_to cocktail_path(cocktail), method: :delete do %>
            <i class="fas fa-times">    </i>
      <% end %>
      </div>

      </div>
  <div class="card-body">
    <h5 class="card-title"><%= cocktail.name %></h5>
    <p class="card-text"><%=truncate(cocktail.recipe, :length => 80) %></p>
    <div class="btn-container">
    <button type="button" class="btn btn-outline-warning my-2 py-1 px-4 rounded-pill"><%= link_to "see more", cocktail_path(cocktail) %></button>
    </div>
  </div>
  </div>
   <% end %>
    </div>

